body {
	background-color: #2e2e2e;
    margin: 10px 20px;
    font-family: Arial, sans-serif;
	font-size:20px;
    text-align: center;
	color: #edf0bb;
	}
	
a:link{
	color:#FF0000;
	}

a:visited{
	color:#FFFFFF;
	}
	
a:hover{ 
	color:#FFFFFF;
	}

.background { 
  	background-image: url(images/armaturenbrett.png);
  	background-repeat:no-repeat;
  	position:absolute;
  	z-index: 1;
  	left:50%;
  	margin-left:-550px;
  	margin-top:0px;
  	width: 1024px;
  	height:768px;
  	border:3px solid #000a01;
	padding:0px;
	}

.begrenzer { 
  	background-color: #000a01;
  	position:absolute;
  	z-index: 2;
 	left:50%;
 	width: 600px;
 	height:360px;
 	margin-left:-295px;
  	margin-top:135px;
  	border:0px solid #888;
  	padding:0px;
	}

.status{ 
    text-align: right;
    font-family: Arial, sans-serif;
	font-size:12px;
	color: #FFFFFF;
	padding:2px;
	}

.menu{
	background-color: #edf0bb;
	width: 599px;
	font-family: Arial, sans-serif;
	font-size:25px;
    text-align: center;
	color: #000a01;
	padding-top: 5px;
	padding-bottom: 5px;
	}
	
.placeToShow{ 
	background-image:url(images/globus.jpg);
	width: 598px;
	height: 264px;
	margin: 0px 0px;
	color: #edf0bb;
	border:0px solid #888;
	}

.canvas{ 
	background-color:transparent; 
	z-index: 1;
	position : absolute;
	top:62px;
	left:0px;
	width: 386px;
	height: 253px;
	margin: 4px 210px;
    text-align: center;
    /*vertical-align:middle;*/
    font-family: Arial, sans-serif;
	font-size:15px;
	color: #edf0bb;
	border:0px solid #FFF;
	}

.map{
	visibility:hidden;
	z-index: 2;
	position : absolute;
	width: 386px;
	height: 253px;
	margin: 4px 210px;
    text-align: center;
    vertical-align:middle;
    font-family: Arial, sans-serif;
	font-size:15px;
	color: #edf0bb;
	border:1px solid #FFF;
	}
	
.result{ 
	background-color:transparent;
	position: absolute;
	top:55px;
	left:0px;
	width: 198px;
	height: 153px;
	margin: 50px 0px;
	padding:5px;
    text-align: left;
    vertical-align:middle;
    font-family: Arial, sans-serif;
	font-size:15px;
	color: #FFFFFF;
	border:0px solid #0F0;
	overflow:hidden;  
	z-index: 1;
	}
	
.resultbig{ 
	background-color:transparent;
	position: absolute;
	top:0px;
	left:0px;
	height: 245px;
    width: 598px;
	margin: 50px 0px;
	padding:5px;
    text-align: left;
    vertical-align:left;
    font-family: Arial, sans-serif;
	font-size:20px;
	color: #FFFFFF;
	border:0px solid #0F0;
	overflow:hidden; 
	z-index: 2;
	}
	
.startstop { 
	z-index: 5;
	position: absolute;
	margin: 120px 0px; 
	color: #edf0bb;
	width:598px; 
	border:0px solid #fff; 
	text-align: middle;
    font-family: Arial, sans-serif;
	font-size:15px;
	}

.button {
	background-color:#edf0bb;
	color: #000a01;
    font-family: Arial, sans-serif;
	font-size:15px;
	border:1px solid #000; 
	}
	
.button:hover {
	background-color: #000a01;
	color:#edf0bb;
    font-family: Arial, sans-serif;
	font-size:15px;
	border:1px solid #000; 
	}

/*formatting of tables inside both menu stripes*/
.begrenzer #menu table{
	width:100%;
	}
.begrenzer #menu table tr td {
	text-align: center;
}

/*
.begrenzer #footermenu{
	/position: absolute;
	top:320px;
	left:0px;
	}
*/
.begrenzer #footermenu table{
	width:100%;
	}
	
.begrenzer #footermenu table tr td {
	text-align: center;
}

/*
Everything necessary for a scrollable result window
*/
 
#scrollbar_track {  
    position:absolute;  
    top:0;  
    right:0;  
    height:100%;  
    width:10px;  
    background-color:transparent;  
    cursor:move;  
} 
 
#scrollbar_handle {  
    width:10px;  
    background-color:#EDF0BB;;  
    cursor:move;  
    border:thin;
    border-color:#000000;
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    opacity:0.9;  
    -moz-opacity:0.9;  
} 
 
#scrollbar_content {  
    overflow:hidden;  
    height:245px; 
    width: 598px;
    top:62px;
	left:0px;
}  
